<h1><%= current_user.first_name %>'s Patients</h1>
<h3>Invite a Patient</h3>
<!-- TODO: Hit the right invite action of the doctors controller -->
<div id="invite-patient-form">
	<form name="input" action='/invites' method="post" >
		Email: <input type="text" name="email"></br>
		<input type="submit" value="Invite Patient">
	</form><!-- form#invite-patient-form -->
</div>